html {
  background-color: black;
}

html.animate1 {
  animation: flashbang 1s ease;
  animation-iteration-count: 1;
}

html.animate2 {
  background-image: url('Coins2.gif');
  background-repeat: repeat;
  background-size: cover;
}

@keyframes flashbang {
  0% { background-color: black }
  50% { background-color: gold; }
  100% { background-color: black;}
}

.cont.animate1 {
  display: none;
}

.cont.animate2 {
  display: none;
}

.WinningNorm {
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.WinningNorm.animate {
  animation: fadeIn 4s ease;
  animation-iteration-count: 1;
  display: block;
}

.WinningNight {
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.WinningNight.animate {
  animation: fadeIn 4s ease;
  animation-iteration-count: 1;
  display: block;
}



.start {
  opacity: 0;
}

.start.animate {
  animation: fadeIn 4s ease;
  animation-iteration-count: 1;
  opacity: 1;
}

.Easy {
  opacity: 0;
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.Easy.animate {
  animation: fadeInOut 4s ease;
  animation-iteration-count: 1;
  display: block;
}

.Normal {
  opacity: 0;
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.Normal.animate {
  animation: fadeInOut 4s ease;
  animation-iteration-count: 1;
  display: block;
}

.Hard {
  opacity: 0;
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.Hard.animate {
  animation: fadeInOut 4s ease;
  animation-iteration-count: 1;
  display: block;
}

.shh {
opacity: 0;
z-index: -10;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: -10;
  cursor: pointer;
}

.top-right1 {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.top-right1.animate {
  opacity: 1;
  z-index: 10;
}

.top-right.animate {
  opacity: 0;
  z-index: -10;
}

.top-right1.animate1 {
  opacity: 0;
  z-index: -10;
}

.top-right.animate1 {
  opacity: 0;
  z-index: -10;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("greed.png");
  background-repeat: no-repeat;
  background-position: 650px;
  background-size: 80%;
  opacity: 0;
  z-index: -101;
}

.bg-image1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("more.png");
  background-repeat: no-repeat;
  background-position: 650px;
  background-size: 80%;
  opacity: 0;
  z-index: -101;
}

.bg-image2 {
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("shark.png");
  background-repeat: no-repeat;
  background-position: 250px;
  background-size: 78%;
  opacity: 0;
  z-index: -101;
}

.bg-image3 {
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("shark.png");
  background-repeat: no-repeat;
  background-position: 250px;
  background-size: 78%;
  opacity: 0;
  z-index: -101;
}

.bg-image.animate {
  animation: fadeInOut 4s ease;
  animation-iteration-count: 1;
}

.bg-image1.animate {
  animation: fadeInOut 4s ease;
  animation-iteration-count: 1;
}

.bg-image2.animate {
  animation: fadeIn 8s ease;
  animation-iteration-count: 1;
  opacity: 1;
  z-index: 101;
  background-size: 60%;
  top: -90px;
  background-size: 81%;
}

.bg-image2.animate1 {
  animation: fadeOut 4s ease;
  animation-iteration-count: 1;
  opacity: 0;
  z-index: -101;
}

.container.animate {
  animation: fadeOut 4s ease;
  animation-iteration-count: 1;
  opacity: 0;
  z-index: -101;
}

.container.animate1 {
  animation: fadeIn 4s ease;
  animation-iteration-count: 1;
  opacity: 1;
  z-index: -101;
}

.bg-image3.animate {
  animation: fadeIn 8s ease;
  animation-iteration-count: 1;
  opacity: 1;
}

.dark.animate {
  opacity: 0;
}

.shh.animate {
  opacity: 1;
}

html.animate {
  animation: fadeColor 2s ease;
  animation-iteration-count: 1;
}

@keyframes fadeColor {
  0% { background-color:black; }
  100% { background-color:red; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

* {
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Firefox, and Edge */
}

 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    }

  .cont.animate {
    animation: fadeIn1 2.3s ease;
    animation-iteration-count: 1;
    opacity: 1;
  }

  @keyframes fadeIn1 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    66% { opacity: 0; }
    100% { opacity: 1; }
  }

  .container img:last-child {
    position: absolute;
margin-top: -500px; /* adjust as needed */
margin-left: 200px;
align-self: center;
  }

  .handle-pull {
    animation: handle-pull 1s forwards;
  }
  
  @keyframes handle-pull {
    0% {
      transform: translateY(0) rotateX(0);
    }
    50% {
      transform: translateY(100%) rotateX(180deg);
    }
    100% {
      transform: translateY(0) rotateX(0);
    }
  }

    /* Center the slot machine container */
    .slot-machine-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
.slot3 {
      position: absolute;
      top: 150px;
      margin-left: -180px;
      z-index: -10;
      transform: scale(0.5);
    }


    .slot2 {
      position: absolute;
      top: 150px;
      margin-left: -95px;
      z-index: -10;
      transform: scale(0.5);
    }    
    
    .slot1 {
      position: absolute;
      top: 150px;
      margin-left: -10px;
      z-index: -10;
      transform: scale(0.5);
    }
 
    .whitebackground {
      position: absolute;
      top: 150px;
      margin-left: -175px;
      z-index: -100;
    } 

    .starttext {
      z-index: 100;
      display: block;
      color: white;
      animation: slideAcross 4s ease-in-out;
      animation-iteration-count: 1;
      opacity: 0;
      position: absolute;
      top: 400px;
    }

    .starttext.animate {
      display: none;
    }

    @keyframes slideAcross {
      0% {
       left: -10px; opacity: 0;
      }
      50% {
       left: 700px; opacity: 1;
      }
      100% {
        left: 1400px; opacity: 0;
      }
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 200px;
      background-color: #42413d; /* change color to your desired color */
      background-image: url("pattern.png"); /* change image to your desired pattern */
      background-repeat: repeat;
      padding: 20px;
      box-sizing: border-box;
      color: #fff;
      font-size: 18px;
    }
    
    .sidebar h2 {
      margin-top: 0;
      font-size: 24px;
    }
    
    .sidebar ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .sidebar li {
      margin-bottom: 10px;
    }

    footer {
      z-index: 10000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: white;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 96%;
    }
    
    .footer-left {

      flex-grow: 1;
    }
    
    .footer-right {

      flex-grow: 1;
    }
    
    .footer-center {

      flex-grow: 2;
      flex-basis: 100%;
    }